/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/* Link */
:root {
  --vp-c-brand-1: #05C92F;
  --vp-c-brand-2: #05C92F;
  --vp-c-brand-3: #05C92F;
}


/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: #001405;
  --vp-button-brand-text: #001405;
  --vp-button-brand-bg: #05C92F;

  --vp-button-brand-hover-border: #001405;
  --vp-button-brand-hover-text: #001405;
  --vp-button-brand-hover-bg: #05C92F;

  --vp-button-brand-active-border: #001405;
  --vp-button-brand-active-text: #001405;
  --vp-button-brand-active-bg: #05C92F;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: #05C92F;

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #05C92F,
    #05C92F
  );
  --vp-home-hero-image-filter: blur(50px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(60px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(90px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: #05C92F;
  --vp-custom-block-tip-text: #05C92F;
  --vp-custom-block-tip-bg: rgba(123, 43, 249, 0.08);
  --tab-text-color: #000;
}

.dark {
  --vp-custom-block-tip-border: #05C92F;
  --vp-custom-block-tip-text: #05C92F;
  --vp-custom-block-tip-bg: rgba(123, 43, 249, 0.08);
  --tab-text-color: #000;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: #05C92F !important;
}

@font-face {
  font-family: "Tomato Grotesk";
  src: url("/fonts/TomatoGrotesk/TomatoGrotesk-Bold.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tomato Grotesk", Arial, sans-serif;
}

code {
  color: #3451b2 !important;
}

.youtube-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.VPSidebarItem.level-0 {
  padding-bottom: 10px !important;
}
